* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}


.container {
    width: 1200px;
    margin: 0px auto;
}
.container:after{
    content: '';
    display:block;
    clear: both;
}
header{
     background: #ffffff;
}
header h1{
    float: left;
    padding: 15px 0px;
    color: #968073;
    background: #ffffff;
}
header ul{
    float: right;
    background: c
}
header ul li{
    display: inline-block;
    background: #ffffff;
}
header ul li{
    padding:25px 20px;
    display:inline-block;
    color: ##968073;;
}
header ul li:hover{
    background-color: #edc2ae;
    color: #0d0d0d
}
.c{
    height: 520px;
    background: url("https://wwww.behance.net/gallery/104687679/Netflix-and-Chill-");
    background-size: cover;

}
section h2{
    padding:25px 20px;
    display:inline-block;
    color: #f3f6f8;
    z-index: 10;
    padding: 20px 25px;
    border: 5px solid #f3f6f8;

}
section h3{
    text-align: center;
    padding: 20px 0px;
    color: #185218;
}
.d p{
 color: #666666;
 word-spacing: 2px;
 line-height: 25px;
}
